 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", "Roboto", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  background-color: #fff;
}

main {
  width: 100%;
  margin: auto;
  padding: 0.5rem 1rem;
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: #1f2937;
  margin: 0.5rem 0;
  font-weight: 400;
}

p {
  color: #4b5563;
  line-height: 1.5;
  margin: 0.5rem 0;
}

li {
  color: #4b5563;
  line-height: 1.35;
  margin: 0.25rem 0;
}